<section class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">{{breadCrumbs?.label || 'Dashboard' }}</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item cursor"><a ><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a >{{breadCrumbs?.label || 'Dashboard' }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet> 
<!-- <section class="card mainContent">
    <div class="card-body" style="padding: 12px !important;">
    </div>
</section> -->